<!DOCTYPE html>
<html>
<body>

<h2>Spotify Playlist Generator</h2>

<form action="/action_page.php">
    <label for="token">Spotify token:</label><br>
    <input type="text" name="token" required><br>
    <label for="userid">Spotify user id:</label><br>
    <input type="text" name="userid" required><br><br>
    <label for="songs">List of songs:</label><br>
    <textarea name="songs" rows="10" cols="50" required></textarea><br><br>
    <input type="submit" value="Submit">
</form> 

</body>
</html>